@inject NavigationManager Navigation
@inject IXDtoClient xClient
@inject XNavMenu xnav
@attribute [Authorize]
@*Av Sukhrob Ilyosbekov - Stack Overflow*@
@*Endast lärare har åtkomst hit*@

@{
    var showClass = IsVisible ? "d-block" : "d-none";
}

<AuthorizeView Roles ="Teacher">
    <Authorized>
    <div class="toast-container p-3 position-relative @showClass" data-bs-autohide="true" data-bs-delay="5000">
    <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">@HeaderText</strong>
            <button type="button" class="btn-close" aria-label="Close" @onclick="Close"></button>
        </div>

        <div class="toast-body">
            @BodyText
            <button type="button" class="text-white remyes" @onclick="DeleteNow" title="Remove this module and all its activities from the system">DELETE NOW</button>
            <button type="button" class="text-white remnot" @onclick="Close">NO</button>
        </div>
    </div>
</div>

    </Authorized>
    <NotAuthorized>
        <h5 style="font-weight: bold; color: red">You are not authorized to visit this page...</h5>
    </NotAuthorized>
</AuthorizeView>

@code {

    [Parameter]
    public bool IsVisible { get; set; }

    [Parameter]
    public EventCallback<bool> IsVisibleChanged { get; set; }

    [Parameter]
    public string? HeaderText { get; set; }

    [Parameter]
    public string? BodyText { get; set; }

    public async Task Show(string bodyText, string headerText = "Remove this module...")
    {
        xnav.SetReset('a');

        HeaderText = headerText;
        BodyText = bodyText;
        IsVisible = true;
        StateHasChanged();
    }

    private void Close()
    {
        HeaderText = string.Empty;
        BodyText = string.Empty;
        IsVisible = false;
        StateHasChanged();
    }

    private async Task DeleteNow()
    {
        bool delAct;

        xnav.SetDone("xnavdone", "This module and all its activities were deleted.");
        xnav.SetReset('d');
        base.StateHasChanged();
        await Task.Delay(3000);
        
        do // Så länge foren hittar aktiviteter som hör till modulen.
        {
            var allactivity = await xClient.GetAsync<IEnumerable<ActivityDto>>("api/Activity");
            delAct = false;

            if (allactivity is not null)
            {
                foreach (var act in allactivity)
                {
                    if (act.ModuleId == Auxx.IntId) // Dess aktiviteter.
                    {
                        await xClient.RemAsync(act.Id, "api/Activity");
                        delAct = true;
                    }
                }
            }
        } while (delAct);

        await xClient.RemAsync(Auxx.IntId, "api/Module");
        Navigation.NavigateTo($"/coursedetail/{Auxx.CourseId}", true);
        Close();
    }
}