@page "/"

<PageTitle>Index</PageTitle>

<nav style="color: white; background-color:#CCCC00; border-radius: 5px">
    <h1 style="padding-left: 1%">Hello!</h1>
    <span style="padding-left: 1%">Welcome to </span><span style="font-weight: bold; background-color: red">Lexicon</span> LMS
</nav>