@page "/"

<PageTitle>Index</PageTitle>

<nav style="color: white; background-color:darkturquoise; border-radius: 5px">
    <h1 style="padding-left: 1%">Hello!</h1>
    <span style="padding-left: 1%">Welcome to </span><span style="font-weight: bold; background-color: red">Lexicon</span> LMS
</nav>

<footer class="text-lg-end text-info ">
    &copy Lexicon Grupp 3 - Mars 2023
</footer>